.camera{
    max-height: calc(100svh - 160px);
    max-width: calc(100% - 60px);
    @apply relative w-full h-svh flex items-center justify-center mt-[30px] left-[30px] overflow-hidden rounded-md z-10;
}
.camera video{
    min-height: 110vh;
    min-width: 110vw;
    @apply object-cover;
}

.camera__logo{
    @apply absolute z-10 top-5 max-w-[120px] w-[90%];
}

.camera__microphone{
    @apply absolute z-[100] left-0 bottom-0 block max-h-[60svh];
}

.camera__microphone img{
    @apply w-full max-h-[60svh] object-contain;
}