.camera{
    @apply fixed w-full h-svh flex items-center justify-center left-0 overflow-hidden z-10;
}
.camera video{
    min-height: 110vh;
    min-width: 110vw;
    @apply object-cover;
}

.camera__logo{
    @apply absolute z-10 top-5 w-[90%] left-[5%] max-w-16;
}

.camera__microphone{
    @apply fixed z-[100] left-0 top-0 h-svh flex items-end w-full max-w-16;
}

.camera__microphone img{
    @apply w-full;
}

.camera__microphone__secondary{
    @apply left-[unset] right-0;
}

.camera__microphone__secondary img{
    transform: rotateY(180deg);
}