.subtitles {
    @apply flex justify-center items-end py-6 px-[30px] w-full;
}

.lyricsScrollContainer {
    @apply w-full whitespace-nowrap relative flex flex-wrap justify-center gap-x-2;
}

.lyricsScrollContainer::-webkit-scrollbar {
    @apply hidden;
}

.lyricWord {
    @apply !text-white relative w-full text-wrap;
    -webkit-text-stroke-width: 0px !important;
    -webkit-text-stroke-color: #FFF !important;
    text-shadow: 0 2px 0 #002D6E !important;
}

.lyricWordActive{
    @apply !text-[#00E3FF];
}

.turn{
    @apply relative z-10;
}

.turn__beer{
    @apply absolute h-svh max-h-[15svh] top-[-4svh] first:right-[2svh] first:rotate-[20deg] last:left-[7.5svh] last:z-[-1] last:rotate-[-10deg];
}

.turn__beer img{
    @apply h-full;
}

.turn__text{
    @apply max-h-[8svh] h-svh block relative;
}

.turn__text img{
    @apply h-full;
}