.WrapperIcon{
    @apply w-[120px] h-[120px] relative overflow-hidden rounded-full flex items-center justify-center border-t border-[#3EC5FF];
}
.WrapperIcon__content{
    @apply w-[95px] h-[95px] flex justify-center items-center rounded-full relative;
}

.WrapperIcon__content img{
    @apply w-[90%] max-h-[80%] object-contain;
}

/* primary */

.WrapperIcon--primary{
    background: linear-gradient(180deg, #4ab7e6 0%, #000000 120%);
    backdrop-filter: blur(38.88999938964844px);
}
.WrapperIcon--primary .WrapperIcon__content{
    background: rgba(0, 0, 0, 0.30);
}

/* primary */

.WrapperIcon--secondary{
    background: linear-gradient(120deg, #336e87 0%, rgba(0, 0, 0, 0.05) 50%);
    backdrop-filter: blur(38.88999938964844px);
}
.WrapperIcon--secondary .WrapperIcon__content{
    background: rgba(0, 0, 0, 0.30);
}

.WrapperIcon--secondary .WrapperIcon__content img{
    @apply max-w-[55px];
}