.textField{
    @apply flex flex-col w-full;
}

.textFieldContent{
    @apply relative flex flex-col justify-center;
}

.textField input{
    @apply px-5 py-2 min-h-[72px] w-full block outline-none text-input transition-all;
}

.textField__feedback{
    @apply text-error;
}

.textField__icons{
    @apply absolute right-[16px] flex items-center gap-[10px] pointer-events-none;
}

/* Primary */


.textField--primary input{
    background: rgba(0, 30, 90, 0.24);
    box-shadow: 0 0 24px 0 #3EC5FF inset, 0 0 14px 0 #3EC5FF;
    backdrop-filter: blur(7.5px);
    @apply text-white placeholder:text-white border-2 border-white;
}

/* .textField--primary input:valid{
    @apply border-white border-2;
}

.textField--primary .textField__feedback{
    @apply text-feedback-error-primary;
}

.textField--primary.textFieldError input {
    @apply border-feedback-error-primary;
} */
