@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply flex h-[100vh] justify-center text-center font-futura;
}

.global-dsc{
    text-shadow: 0 0 8px #001E5A, 0 0 8px #001E5A;
    @apply text-white text-description font-futura font-medium leading-7;
}

.global-dsc--secondary{
    @apply text-cuartary;
}

.global-title{
    @apply text-white text-title uppercase leading-10 font-futura font-extrabold;
}

.global-title-s{
    @apply text-titles;
}

.global-title--secondary{
    @apply text-titleb;
}

@font-face {
    font-family: "FuturaStd";
    src: url("./config/typography/FuturaStdBook.otf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "FuturaStd";
    src: url("./config/typography/FuturaStdMedium.otf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "FuturaStd";
    src: url("./config/typography/FuturaStdCondensedBold.otf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "FuturaStd";
    src: url("./config/typography/FuturaStdCondensedExtraBd.otf") format("truetype");
    font-weight: 800;
}