@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply flex h-[100vh] justify-center text-center font-openSans;
}

.global-dsc,
.swal2-html-container{
    text-shadow: 0 0 8px #001E5A, 0 0 8px #001E5A;
    @apply text-white text-description font-medium leading-7;
}

.global-dsc--secondary{
    @apply text-cuartary;
}

.global-title,
.swal2-title{
    @apply text-white text-title uppercase leading-10 font-openSans font-extrabold;
}

.global-subtitle{
    @apply text-white text-subtitle uppercase leading-10 font-openSans font-extrabold;
}

.global-title-s{
    @apply text-titles leading-9;
}

.global-title--secondary{
    @apply text-titleb;
}

.global-points{
    text-shadow: 0 0 19px #3EC5FF;
    @apply text-white text-center text-points uppercase leading-10 font-openSans font-extrabold;
}

/* Fields */

.global-field {
    @apply flex flex-col w-full;
}
.global-field input,
.global-field select {
    background: rgba(0, 30, 90, 0.24);
    box-shadow: 0 0 24px 0 #3EC5FF inset, 0 0 14px 0 #3EC5FF;
    backdrop-filter: blur(7.5px);
    @apply px-5 py-2 min-h-[72px] w-full block outline-none text-input transition-all text-white placeholder:text-white border-2 border-white !rounded-none;
}

.global-field__content{
    @apply relative flex flex-col justify-center;
}

.global-field__icon{
    @apply absolute right-[16px] flex items-center gap-[10px] pointer-events-none w-[25px];
}

.global-field.global-error-field input,
.global-field.global-error-field select{
    box-shadow: 0 0 20px 0 #00D4FF;
    backdrop-filter: blur(7.5px);
    @apply border-feedback-error-dark-01 bg-feedback-error-dark-01 bg-opacity-50;
}

.global-field__error{
    @apply bg-feedback-error-dark-01 px-3 py-1 text-error text-white text-left relative z-10;
}


/* Swal */
div:where(.swal2-icon).swal2-error{
    @apply !border-primary !text-primary;
}

div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line]{
    @apply !bg-primary;
}

.swal2-title{
    @apply !text-primary text-titles;
}

.swal2-confirm{
    text-shadow: 0 1px 0 #FFEB00;
    @apply w-full min-h-[65px] bg-secondary flex justify-center items-center gap-[15px] relative overflow-hidden px-5 uppercase text-button left-0 font-extrabold leading-none text-cuartary;
}

.swal2-html-container{
    text-shadow: none;
    @apply text-cuartary;
}

.swal2-container{
    @apply !z-[999999];
}

/* Swiper */

.swiper-button-disabled{
    @apply opacity-40 pointer-events-none;
}

@font-face {
    font-family: "openSans";
    src: url("./config/typography/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "openSans";
    src: url("./config/typography/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "openSans";
    src: url("./config/typography/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}