.button{
    @apply w-full min-h-[65px] flex justify-center items-center gap-[15px] relative overflow-hidden px-5; 
}

.button__icon{
    @apply max-w-[40px] block w-full;
}

.button span{
    transition: .3s ease left;
    @apply uppercase text-button relative left-0 font-extrabold leading-none;
}

@media(max-width: 768px){
    .button span{
        @apply text-buttonMobile;
    }
    .button__iconSecondary{
        @apply w-[20px];
    }
}

/* Primary */
.button--primary{
    transition: .5s ease background-color;
    @apply bg-primary rounded-full;
}

.button--primary:hover{
    @apply bg-secondary;
}

.button--primary span{
    @apply text-white;
}

/* secondary */
.button--secondary{
    @apply border bg-secondary border-secondary w-full;
}

.button--secondary span{
    text-shadow: 0 1px 0 #FFEB00;
    @apply text-cuartary top-[2px];
}

/* Tiktok */

.button--tiktok{
    @apply bg-black border-2 border-b-[#FF48CB] border-r-[#FF48CB] border-l-[#00D4FF] border-t-[#00D4FF];
}

.button--tiktok span{
    @apply text-white;
}

/* Load */

.button__load{
    @apply bg-gray-400 pointer-events-none;
}