.button{
    @apply w-full min-h-[65px] flex justify-center items-center gap-[15px] relative overflow-hidden px-5; 
}

.button__icon{
    @apply max-w-[17px] block w-full;
}

.button span{
    transition: .3s ease left;
    @apply uppercase text-button relative left-0 font-extrabold leading-none;
}

.button__icon {
    filter: brightness(0) invert(1);
    transition: .3s ease left;
    @apply absolute left-[-20px];
}

.button__iconSecondary{
    transition: .3s ease all;
    @apply w-[22.5px] relative right-0;
}

.button b{
    transition: .3s ease transform;
    @apply flex items-center justify-center w-[5px] h-[10px] relative overflow-hidden;
}

.button b::before{
    content: "";
    @apply w-[5px] h-[5px] rounded-full bg-white;
}

/* .button:hover span{
    @apply  left-[20px];
} */

.button:hover b{
    @apply  scale-0;
}

/* button:hover .button__iconSecondary{
    @apply right-[-15px];
}

.button:hover .button__icon{
    @apply absolute left-[15px];
} */

@media(max-width: 768px){
    .button span{
        @apply text-buttonMobile;
    }
    .button__iconSecondary{
        @apply w-[20px];
    }
}

/* Primary */
.button--primary{
    transition: .5s ease background-color;
    @apply bg-primary rounded-full;
}

.button--primary:hover{
    @apply bg-secondary;
}

.button--primary span{
    @apply text-white;
}

/* secondary */
.button--secondary{
    transition: .5s ease background-color;
    background: linear-gradient(-180deg, #FFEB00 0%, #C59400 100%);
    @apply border border-secondary rounded-md w-full;
}

.button--secondary:hover{
    @apply bg-primary;
}

.button--secondary span{
    text-shadow: 0 1px 0 #FFEB00;
    @apply text-tertiary;
}

/* White */

.button--white{
    @apply bg-white;
}

.button--white span{
    @apply text-tertiary;
}


.button--white b::before{
    @apply bg-tertiary;
}

.button--white:hover span{
    @apply text-white;
}

/* Load */

.button__load{
    @apply bg-gray-400 pointer-events-none;
}